/************ Custom Font ************/
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url('./assets/font/CentraNo2-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Centra;
  src: url('./assets/font/font1.ttf');
  font-weight: 300;
}



@font-face {
  font-family: Centra;
  src: url('./assets/font/ExtraLight.otf');
  font-weight: 200;
}

/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fff !important;
  color: #121212 !important;
  font-family: 'Centra', sans-serif !important;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: green;
}

a:active{
  color: #7E6C62;
}

a:visited{
  color: white;
}



/*******VIDEO***********/

video {
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/***fonts****/

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: green;
}

p.danger {
  color: red;
}

/************ Home Css ************/
.home {
  padding: 250px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home .tagline {
  color: #ffffff !important;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 30px 60px;
  background: rgb(234,216,205, 0.5);
  border-radius: 21px;
  font-size: 25px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 70%)
}

.home h1 {
  color: #39312C;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;

}
.home h2 {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: block;
  width: 96%;
  text-decoration: underline;
}

.home h4 {
  color: #39312C;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: block;
  width: 96%;
}

.home p {
  color: #39312C;
  font-size: 22px;
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 96%;
  font-weight: 400;
}


.home button {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
  letter-spacing: 1px;
  border-radius: 21px;
  background: #39312C;
  padding: 10px 40px;
  align-items: center;
}

.home button svg {
  font-size: 25px;
  font-weight: 400;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.home button:hover svg {
  margin-left: 25px;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ LogIn Css ************/
.login {
  padding: 250px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login .aligh-items-center {
  color: #39312C;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 30px 60px;
  background: rgb(234,216,205, 0.5);
  border-radius: 21px;
  font-size: 20px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 70%)
}

.login h1 {
  color: #39312C;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;

}
.login h2 {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: block;
  width: 96%;
  text-decoration: underline;
}

.login h4 {
  color: #39312C;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 0.8em;
  display: block;
  width: 96%;
}

.login p {
  color: #39312C;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 96%;
  font-weight: 400;
}
.login button {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 1px;
  border-radius: 21px;
  background: #39312C;
  padding: 10px 40px;
  align-items: center;
}

.login button svg {
  font-size: 25px;
  font-weight: 400;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.login button:hover svg {
  margin-left: 25px;
}

input:placeholder-shown {
  margin-top: 10px;
  border: 0.8px solid white;
  background: white;
  color: #39312C;
  border-radius: 21px;
  padding: 10px 40px;
  align-items: center;
}

input:not(:placeholder-shown) {
  margin-top: 10px;
  border: 0.8px solid white;
  background: white;
  color: #39312C;
  border-radius: 21px;
  padding: 10px 40px;
  align-items: center;
}

input::placeholder {
  color: #EAD8CD;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

input {
  text-align: center;
  color: #EAD8CD;
  font-weight: 400;
  font-size: 15px;
}

/************ SignUp Css ************/

.signup {
  padding: 250px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.signup .aligh-items-center {
  color: #39312C;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 30px 60px;
  background: rgb(234,216,205, 0.5);
  border-radius: 21px;
  font-size: 20px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -30%)
}

.signup h1 {
  color: #39312C;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;

}
.signup h2 {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: block;
  width: 96%;
  text-decoration: underline;
}

.signup h4 {
  color: #39312C;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 0.8em;
  display: block;
  width: 96%;
}

.signup p {
  color: #39312C;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 96%;
  font-weight: 400;
}
.signup button {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 1px;
  border-radius: 21px;
  background: #39312C;
  padding: 10px 40px;
  align-items: center;
}

.signup button svg {
  font-size: 25px;
  font-weight: 400;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.signup button:hover svg {
  margin-left: 25px;
}

/************ Logged Css ************/

.logged {
  padding: 250px 0 100px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logged .aligh-items-center {
  color: #39312C;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 30px 60px;
  background: rgb(234,216,205, 0.5);
  border-radius: 21px;
  font-size: 20px;
  margin-bottom: 16px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -30%)
}

.logged h1 {
  color: #39312C;
  font-size: 65px;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;

}
.logged h2 {
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: block;
  width: 96%;
  text-decoration: underline;
}

.logged h4 {
  color: #39312C;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 0.8em;
  display: block;
  width: 96%;
}

.logged p {
  color: #39312C;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5em;
  width: 96%;
  font-weight: 400;
}
.logged button {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  margin-top: 15px;
  letter-spacing: 1px;
  border-radius: 21px;
  background: #39312C;
  padding: 10px 40px;
  align-items: center;
}

.logged button svg {
  font-size: 25px;
  font-weight: 400;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.logged button:hover svg {
  margin-left: 25px;
}







